<p id="notice"><%= notice %></p>

<p>
  <strong>Orginal word:</strong>
  <%= @word.orginal_word %>
</p>

<p>
  <strong>Sorted word:</strong>
  <%= @word.sorted_word %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
